{% extends "admin_Base.html" %}


{% block title %}
Audit logd
{% endblock %}


{% block content %}
            <div class="content-card">
                <div class="section-header">
                    <h3 class="section-title">Complete Immutable Action Audit Trail</h3>
                </div>
                <form method="GET"  action="{{ url_for('all_claims') }}" class="filter-bar">

    <input type="text" name="search" class="filter-input"
         placeholder="Search Claim ID, Product ID, .." value="{{ search }}">

    <select name="category" class="filter-select" >
        <option value=""> All Categories</option>
        <option value="Electronics">Electronics</option>
        <option value="Appliances"> Appliances </option>
    </select>

    <select name="status" class="filter-select">
        <option value="">All Statuses</option>
        <option value="valid">Likely Valid</option>
        <option value="invalid"> Likely Invalid</option>
        <option value="review">Manual Review</option>
    </select>

<button type="submit" class="btn-export"> Apply Filters</button>

</form>
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>Log ID</th>
                            <th>Timestamp</th>
                            <th>User ID / Actor</th>
                            <th>Action Performed</th>
                            <th>Target Entity</th>
                            <th>IP Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#LOG-5011</td>
                            <td>2026-09-26 18:30:12</td>
                            <td>USR-8802 (John Doe)</td>
                            <td>Product Registration</td>
                            <td>Product #PRD-401</td>
                            <td>192.168.1.45</td>
                        </tr>
                        <tr>
                            <td>#LOG-5012</td>
                            <td>2026-09-26 19:10:45</td>
                            <td>SYS-ENGINE (AI Model V1)</td>
                            <td>Model Prediction Execution</td>
                            <td>Claim #CLM-9082</td>
                            <td>Internal Server</td>
                        </tr>
                        <tr>
                            <td>#LOG-5013</td>
                            <td>2026-09-26 20:05:00</td>
                            <td>AD-01 (Reviewer)</td>
                            <td>Manual Review Override</td>
                            <td>Claim #CLM-9082</td>
                            <td>192.168.1.10</td>
                        </tr>
                    </tbody>
                </table>
            </div>
  {% endblock %}