{% extends "admin_Base.html" %}


{% block title %}
Manual Review Queue
{% endblock %}


{% block content %}
            <div class="content-card">
                <div class="section-header">
                    <h3 class="section-title">Claims Pending Human Adjudication & Override</h3>
                </div>
                <form method="GET"  action="{{ url_for('claims_queue') }}" class="filter-bar">

    <input type="text" name="search" class="filter-input"
         placeholder="Search Claim ID, Product ID, .." value="{{ search }}">

    <select name="category" class="filter-select" >
        <option value=""> All Categories</option>
        <option value="Electronics">Electronics</option>
        <option value="Appliances"> Appliances </option>
    </select>

    <select name="status" class="filter-select">
        <option value="">All Statuses</option>
        <option value="valid">Likely Valid</option>
        <option value="invalid"> Likely Invalid</option>
        <option value="review">Manual Review</option>
    </select>

<button type="submit" class="btn-export"> Apply Filters</button>

</form>
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>Claim ID</th>
                            <th>Product Reference</th>
                            <th>Trigger Reason</th>
                            <th>Model Disagreement Gap</th>
                            <th>Rule Violation Flag</th>
                            <th>Status</th>
                            <th>Action & Override</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#CLM-9082</td>
                            <td>Washing Machine FL</td>
                            <td>Low Confidence & Conflict</td>
                            <td>16.0% Difference</td>
                            <td>Serial Number Mismatch</td>
                            <td><span class="badge badge-review">Pending Review</span></td>
                            <td><a href="#" class="btn-action">Open Adjudication</a></td>
                        </tr>
                        <tr>
                            <td>#CLM-9104</td>
                            <td>Inverter Refrigerator</td>
                            <td>Missing Supporting Evidence</td>
                            <td>5.2% Difference</td>
                            <td>Missing Purchase Receipt</td>
                            <td><span class="badge badge-review">Pending Review</span></td>
                            <td><a href="#" class="btn-action">Open Adjudication</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
  {% endblock %}