{% extends "admin_Base.html" %}


{% block title %}
Users management
{% endblock %}


{% block content %}
            <div class="content-card">
                <div class="section-header">
                    <h3 class="section-title">Registered System Users & Role Assignments</h3>
                </div>
                <form method="GET"  action="{{ url_for('all_claims') }}" class="filter-bar">

    <input type="text" name="search" class="filter-input"
         placeholder="Search user ID, .." value="{{ search }}">

    <select name="category" class="filter-select" >
        <option value=""> All Categories</option>
        <option value="Electronics">Electronics</option>
        <option value="Appliances"> Appliances </option>
    </select>

    <select name="status" class="filter-select">
        <option value="">All Statuses</option>
        <option value="valid">Likely Valid</option>
        <option value="invalid"> Likely Invalid</option>
        <option value="review">Manual Review</option>
    </select>

<button type="submit" class="btn-export"> Apply Filters</button>

</form>
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Full Name</th>
                            <th>Email Address</th>
                            <th>Assigned Role</th>
                            <th>Account Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#USR-8802</td>
                            <td>John Doe</td>
                            <td>john.doe@example.com</td>
                            <td><span class="badge-role">Customer</span></td>
                            <td style="color: #28A745; font-weight: 600;">Active</td>
                            <td><a href="#" style="color: var(--primary-burgundy); font-weight: bold; text-decoration: none;">Manage</a></td>
                        </tr>
                        <tr>
                            <td>#USR-1204</td>
                            <td>Sarah Smith</td>
                            <td>sarah.smith@service.com</td>
                            <td><span class="badge-role">Service Center</span></td>
                            <td style="color: #28A745; font-weight: 600;">Active</td>
                            <td><a href="#" style="color: var(--primary-burgundy); font-weight: bold; text-decoration: none;">Manage</a></td>
                        </tr>
                        <tr>
                            <td>#USR-0019</td>
                            <td>Admin User</td>
                            <td>admin@assurex.ai</td>
                            <td><span class="badge-role">Administrator</span></td>
                            <td style="color: #28A745; font-weight: 600;">Active</td>
                            <td><a href="#" style="color: var(--primary-burgundy); font-weight: bold; text-decoration: none;">Manage</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
 {% endblock %}